body {
	font-family: Verdana;
	background:#ff6633;
}
.link {
	background-color: pink;
	background-repeat: repeat-x;
	border: 1px solid black;
	width: 75%;
	text-align: center;
	list-style-type: none;
	padding: 30px;
	margin: auto;
}
#About {
	display: inline;
	padding: 5px;
	background-color: yellow;
	border: 1px solid black; 
}
.list:hover {
	color: pink;
	background: purple;
	text-decoration: none;
}
h1 {
	font-family: arial;
	color: red;
}
h3 {
	color: white;
	font-family: Courier New;
}
.Stanford {
	background: yellow;
	text-align: center;
	border: 1px dotted black;
}
.wed {
	background:cornsilk;
	width: 50%;
	border:3px dotted black;
	margin:auto;
	margin-top: 15px;
	margin-bottom: 15px; 
	padding: 15px; 
}
.Last {
	font-size: 12px;
	background: #0ff;
	width: 200px;
	padding: 15px;
	border: 1px solid black;
	border-radius: 15px; 
}
input {
	width: 92px;
	height: 27px;
	color: white;
	border-radius: 7px;
	background-color: blue;
	border: 3px solid white;
}
.date {
	text-align: center;
}
.images {
	list-style-type: none;
	display: inline;
}
.link_photo {
	background: blue;
	border: 3px solid white;
	width: 92px;
	height: 27px;
	border-radius: 9px;
	padding: 4px;
	text-align: center;
}
.show_photo {
	color: white;
	text-decoration: none;
}
