.container{
	border: 10px solid blue;
	padding: 15px;
}
.text{
	font-family: Broadway;
}
.import{
	border: 1px solid #ffb3b3;
}
.import{
	width: 100%;
}
.login{
	width: 80%;
	border-radius: 5px;
	border: 1px solid black;
}
.import, .login{
	height: 35px;
}
.question{
text-decoration: none;
}