.content{
	background-color: #d2a679;
}
.content-left, .content-right{
	border: 2px solid black;
	width: 200px;
}
.footer{
	border-left: 1px solid black;
	border-top: 0.5px solid #d2a679;
}
.image{
	border: 2px solid black;
	width: 45%;
	height: 85px;
}