.container{
	background-color: #ffe6f0;
	border: 0.2px solid black;
	width: 90%;
	text-align: center;
	margin: auto;
}
.request{
	text-align: left;
}
.birthday, .question, .date-time, .choose-question, .information, .reset, .submit, .repassword, .signature{
	margin-top: 10px;
}
.information, .repassword{
	width: 96.5%;
	height: 30px;
}
.gender{
	float: left;
	margin: 0px 0px 0px 17px;
}
.birthday, .question{
	width: 92.5%;
	height: 30px;
}
.date-time, .choose-question{
	width: 40px;
	height: 30px;
	border: 1px solid black;
}
.signature{
	width: 96.5%;
	height: 45px;
}
.reset, .submit, .repassword{
	margin-bottom: 10px; 
}
.submit{
	border: 1px solid #3385ff;
	background-color: #3385ff;
}
.reset, .submit{
	height: 30px;
}